@charset "utf-8";

/* 프리텐다드 폰트 관련 */
/* font-weight: 숫자입력;
200 = ExtraLight (매우 얇음)
300 = Light (얇음) ← 현재
400 = Regular (보통)
500 = Medium (중간)
600 = SemiBold (약간 두꺼움)
700 = Bold (두꺼움) */

/* 외부 css 컴포넌트 불러오기 */
@import url(./header.css);
@import url(./footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
  background: #000000;
  color: #ffffff;
}

/* 디테일 페이지 */
.detail-page-main {
  width: 100%;
  padding: 120px 80px;
  margin: 0;
}
