@charset "UTF-8";
/* ================================================================ */
/* 포트폴리오 사이트 - 어바웃미 페이지 미디어 쿼리 (media-about-me.css) */
/* ================================================================ */

/* ***************************************************************** */
/* PC 작은 사이즈 (max-width: 1650px) */
@media screen and (max-width: 1650px) {
  /* ---------------------------- info 자기소개 섹션 ---------------------------- */
  .info-grid {
    margin-top: 80px;
  }

  /* ---------------------------- career 커리어 섹션 ---------------------------- */
  .table-row {
    gap: 190px;
  }

  .table-row .table-col {
    margin-left: 150px;
  }

  /* ---------------------------- connect 커넥션 섹션 ---------------------------- */
}

/* ***************************************************************** */

/* ***************************************************************** */
/* PC 작은 사이즈 (max-width: 1550px) */
@media screen and (max-width: 1550px) {
  /* ---------------------------- info 자기소개 섹션 ---------------------------- */
  .info-grid {
    margin-top: 75px;
  }

  /* ---------------------------- career 커리어 섹션 ---------------------------- */
  .table-row {
    gap: 140px;
  }

  .table-row .table-col {
    margin-left: 145px;
  }

  /* ---------------------------- connect 커넥션 섹션 ---------------------------- */
}
/* ***************************************************************** */

/* ***************************************************************** */
/* PC 작은 사이즈 (max-width: 1400px) */
@media screen and (max-width: 1400px) {
  /* ---------------------------- info 자기소개 섹션 ---------------------------- */
  .info-grid {
    margin-top: 70px;
  }

  /* ---------------------------- career 커리어 섹션 ---------------------------- */
  .table-row {
    gap: 80px;
  }

  .table-row .table-col {
    margin-left: 140px;
  }

  /* ---------------------------- connect 커넥션 섹션 ---------------------------- */
}

/* ***************************************************************** */

/* ***************************************************************** */
/*태블릿 가로 모드 (max-width: 1366px) 아이패드 프로 */
@media screen and (max-width: 1366px) {
  /* ---------------------------- info 자기소개 섹션 ---------------------------- */
  .info-grid {
    margin-top: 55px;
  }

  /* ---------------------------- career 커리어 섹션 ---------------------------- */
  .table-row {
    gap: 50px;
  }

  /* ---------------------------- connect 커넥션 섹션 ---------------------------- */
}

/* ***************************************************************** */

/* ***************************************************************** */
/* 태블릿 가로 모드 (max-width: 1180px) 아이패드 에어 */
@media screen and (max-width: 1180px) {
  /* ---------------------------- career 커리어 섹션 ---------------------------- */
  .table-row .table-col {
    margin-left: 140px;
  }
}

/* ***************************************************************** */

/* ***************************************************************** */
/* 태블릿 가로 모드 (max-width: 1024px) 아이패드 미니 */
@media screen and (max-width: 1024px) {
}
/* ***************************************************************** */

/* ***************************************************************** */
/* 태블릿 세로 모드 및 모바일 (max-width: 820px) 아이패드 에어 */
@media screen and (max-width: 820px) {
  /* ---------------------------- info 자기소개 섹션 ---------------------------- */
  .intro-content {
    grid: none;
    gap: 80px;
  }

  .intro-section {
    padding: 100px 80px 0px 80px;
  }
  /* ---------------------------- career 커리어 섹션 ---------------------------- */

  /* ---------------------------- connect 커넥션 섹션 ---------------------------- */

  /* ---------------------------- 마우스 커스텀 ---------------------------- */
  .custom-cursor {
    display: none !important;
  }
}

/* ***************************************************************** */

/* ***************************************************************** */
/* 태블릿 세로 모드 및 모바일 (max-width: 768px) 아이패드 미니 */
@media screen and (max-width: 768px) {
}

/* ***************************************************************** */

/* ***************************************************************** */
/* 모바일 작은 사이즈 (max-width: 430px) 아이폰 14프로맥스 */
@media screen and (max-width: 430px) {
  /* ---------------------------- info 자기소개 섹션 ---------------------------- */
  .intro-section {
    padding: 100px 40px 0px 40px;
  }

  .intro-content {
    gap: 40px;
  }

  .intro-text h1 {
    font-size: 35px;
  }
  .greeting {
    font-size: 15px;
  }
  .description {
    font-size: 15px;
  }

  /* ---------------------------- career 커리어 섹션 ---------------------------- */

  /* ---------------------------- connect 커넥션 섹션 ---------------------------- */
}

/* ***************************************************************** */

/* ***************************************************************** */
/* 모바일 작은 사이즈 (max-width: 400px) */
@media screen and (max-width: 400px) {
}
/* ***************************************************************** */
